.footer {
    background-color: #176B87;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:90px;

    /* This code corresponds to pinning footer to bottom of the screen. 
    position: absolute;
    width: 100%;
    bottom: 0; 
    */
}
  
  .socialMedia svg {
    color: white;
    margin: 0 10px 10px 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .footer a:hover{
    background-color: transparent;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 30px;
    }
  }