@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

a:-webkit-any-link {
  border-radius: 10px 10px 10px 10px;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  background-color: #125268;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: #001c30;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;  
}
